*{
    margin: 0;
    padding: 0;
}
html{
  font-size: 62.5%;
  font-family: sans-serif;
  /* it makes 1rem=10px=62.5%. By defalut 1rem=16px=100% and 62.5%=10px */
  /* h1=3.2rem
  h2=2.4rem
  h3=1.8rem
  h4=1.6rem
  h5=1.3rem
  h6=1rem
  p=1.6rem
  */
  scroll-behavior: smooth;
}
body{
    background-color: var(--primary-color);   
    transition: .5s;       
}
:root{
  --primary-color:white;
  --secondary-color: #151515;
  --accent-color:#4dbf00;
  --description-color:#727272;
}
.dark-theme{
  --primary-color: #151515;
  --secondary-color: white;
  --description-color:#b6b3b3;
}
.nav{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: auto;
}
.nav.scrollshade{
  box-shadow: 0 0 1rem .3rem;
}
.icon{
  cursor: pointer;
  padding:0 2.5rem;
}
.nav ul{
  display: flex;
  margin: 0;
  padding: 0;
}
.nav ul li {
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--accent-color);
}
.nav ul li a{
  text-decoration: none;
  color: var(--secondary-color);
  padding: 1.5rem 2.5rem;
  display: block;
  width: max-content;
}
.nav ul li a:hover{
  background-color: var(--accent-color);
}
.fa-sun{
    color: var(--secondary-color);
}
.fa-moon{
    color: var(--secondary-color);
}
.fa-solid{
    font-size: 2rem;
}
#change{
    cursor: pointer;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2rem; /* Place the button at the bottom of the page */
    right: 3rem; /* Place the button 3rem from the right */
    z-index: 9999; /* Make sure it does not overlap */
    border: none; /* remove borders */
    outline: none; /* remove outline */
    background-color:var(--accent-color); /* Set a background color */
    color: var(--primary-color); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1.5rem; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    width: 5rem;
  }
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.footer{
  padding-top: 2.5rem;
  background-color: #333333;
  font-size: 1.6rem;
}
.footer-contents{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  color: white;
}
.footer_sch_info > .fa-solid{
  color: var(--accent-color);
}
.footer_sch_info i{
  padding: 0rem 1rem 1rem 2rem;
}
.footer_sch_info{
  margin-left: 10%;
}
.footer-subscribe{
    margin-right: 5%;
}
.divider-2{
  width: 95%;
  display: block;
  background-color:rgb(143, 143, 143);
  height: .1rem;
  margin: auto;
}
.footer-divider{
  width: 15%;
  display: block;
  background-color:var(--accent-color);
  height: .2rem;
  margin-bottom: 2.5rem;
}
.footer-nav ul li , .footer-nav ul li a{
  padding-bottom: 1.5rem;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  color: white;
}
.footer-nav ul li a:hover{
  color: var(--accent-color);
}
.footer-mail{
  height: 5rem;
  width: 70%;
  padding: 0rem 5rem 0rem 2rem;
}
.footer-mail:focus{
  outline: none;
}
.footer-btn{
  border: none;
  background-color: var(--accent-color);
  height: 5rem;
  width: 5rem;
  font-size: larger;
  color: var(--primary-color);
}
.footer-btn:hover{
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.social-btns{
  height: 3.4rem;
  width: 3.4rem;
  background: rgba(69, 69, 69, 0.5);
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  color: #fff;
  border: none;
  transition: .4s;
  margin: 1rem 0 1rem 0;
}
.social-btns:hover{
  color: var(--accent-color);
  background-color: white;
  cursor: pointer;
}
.footer-credits{
  text-align: center;
}
.navactive{
  height: auto;
  opacity: 1;
  right: 0;
}
.menu-btn{
  position: absolute;
  right: 1.6rem;
  color: var(--secondary-color);
  top: .5rem;
  display: none;
  font-size: 3rem;
}
.modal{
  background-color: white;
  height: 35rem;
  width: 40rem;
  box-shadow: .8rem .8rem 1.9rem 0px var(--accent-color);
  border: none;
  position: fixed;
  margin: auto;
}
.modal::backdrop{
  background: rgba(0, 0, 0, .5);
}
.login-form{
  padding-top: 2rem;
}
.login-form-btn{
  background: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  margin-left: 35%;
  margin-top: 5%;
  transition: .8s;
}
.login-form-btn:hover{
  color: white;
  box-shadow: inset 100px 0 0 0 var(--accent-color);
}
.name{
  margin-left: 40%;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: large;
  letter-spacing: .5rem;
  color: black;
}
.pass, .mail{
  padding: 1rem 1rem 1rem 1rem;
  margin: 1.5rem 1rem 1.5rem 15%;
  border:none;
  font-size: 16px;
  border-bottom: 2px solid #333;
  outline: none;
  width: 25rem;
} 
.nav-links.navactive{
  display: flex;
}
nav ul li .active{
  background-color: var(--accent-color);
  color: var(--primary-color);
}
@media screen and (max-width:998px) {
    html{
      font-size: 55%;
    }
    .nohover{
    pointer-events: none;
    }
    .footer, .credit-btns i{
      font-size: 2rem;
    }
    .footer-contents{
      display: flex;
      flex-direction: column;
    }
    .footer-contents{
      place-items: center;
    }
    .footer_sch_info{
      display: none;
    }
    .footer_sch_info img {
      display: block;
    }
    .footer-subscribe{
      display: none;
    }
    .footer-nav h1, .footer-nav span{
      display: none;
    }
    .menu-btn{
      display: block;
    }
    nav{
      flex-direction: column;
      
    }
    nav ul li {
      text-align: center;
    }
    .nav ul{
      display: none;
      width: 100%;
      flex-direction: column;
    }
    /* .icon{
      transform: translateX(-50%);
    } */
}